[package]
name = "myapp"
version = "0.0.1"
edition = "2021"

[profile.release]
panic = 'abort'
strip = "symbols"
lto = true
codegen-units = 1

[dependencies]
postgres = "0.19.1"

[dev-dependencies]
tokio-test = "*"
