{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MediaKraken - Docker</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/css/styles.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        {% include "bss_admin/bss_admin_include_menu.html" %}
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid flex-fill">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4"></div>
                    <div class="row">
                        <div class="col-auto col-md-6 col-xl-3 flex-fill mb-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0">Docker Info</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text"><b>Operating System:</b> {{template_data.operating_system.as_deref().unwrap_or_default()}}</p>
                                    <p><b>Kernel:</b> {{template_data.kernel_version.as_deref().unwrap_or_default()}}</p>
                                    <p><b>Host IP:</b> {{template_data_node_addr}}</p>
                                    <p><b>Docker Engine:</b> {{template_data.server_version.as_deref().unwrap_or_default()}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-5 mb-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0">Cluster Join Info</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Token:</p>
                                    <p>Run following on other node(s) to join swarm cluster as manager.</p>
                                    <p>docker swarm join --token {{template_data_swarm.manager.as_deref().unwrap_or_default()}} {{template_data_node_addr}}:2377
                                    <p>Run following on other node(s) to join swarm cluster as worker.</p>
                                    <p>docker swarm join --token {{template_data_swarm.worker.as_deref().unwrap_or_default()}} {{template_data_node_addr}}:2377
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-8">
                            <div>
                                <fieldset>
                                    <legend>Swarm Node(s)</legend>
                                </fieldset>
                                <div class="table-responsive table-bordered">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>ID</th>
                                                <th>Docker Engine</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for row_data in template_data_nodes %}
                                            <tr>
                                                <td>{{ "{:?}"|format(row_data.description) }}</td>
                                                <td>{{ "{:?}"|format(row_data.id) }}</td>
                                                <td>{{ "{:?}"|format(row_data.version) }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "bss_public/bss_public_footer.html" %}
        </div>
    </div>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-easing.min.js"></script>
    <script src="/static/js/script.min.js"></script>
</body>
{% endblock %}