{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MediaKraken - Dashboard</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/css/styles.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        {% include "bss_admin/bss_admin_include_menu.html" %}
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid flex-fill">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4"></div>
                    <div class="row">
                        <div class="col-auto col-md-6 col-xl-3 flex-fill mb-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0">Server Info</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text"><b>Server Name:</b>&nbsp;{{ template_data_server_info_server_name|unquote_json }}</p>
                                    <p><b>Host Uptime:</b>&nbsp;{{ template_data_server_uptime }}</p>
                                    <p><b>Host IP:</b>&nbsp;{{ template_data_server_host_ip }}</p>
                                    <p><b>IP External:</b>&nbsp;{{ template_data_server_info_server_ip_external }}</p>
                                    <p><b>Version:</b>&nbsp;{{ template_data_server_info_server_version }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto col-md-6 col-xl-3 mb-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0">Notices</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto col-md-6 col-xl-2 mb-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0">Media Counts</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text"><b>Media Files:</b>&nbsp;{{ template_data_count_media_files }}</p>
                                    <p><b>Matched Media:</b>&nbsp;{{ template_data_count_matched_media }}</p>
                                    <p><b>Metadata to Download:</b>&nbsp;{{ template_data_count_meta_fetch }}</p>
                                    <p><b>Streamed:</b>&nbsp;{{ template_data_count_streamed_media }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-8">
                            <div>
                                <fieldset>
                                    <legend>Active Streams</legend>
                                </fieldset>
                                <div class="table-responsive table-bordered">
                                    <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>User</th>
                                    <th>Media</th>
                                    <th>Device</th>
                                    <th>Time</th>
                                    <th>Stop</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for row_data in template_server_streams %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ row_data.template_stream_user }}</td>
                                    <td>{{ row_data.template_stream_media }}</td>
                                    <td>{{ row_data.template_stream_device }}</td>
                                    <td>{{ row_data.template_stream_time }}</td>
                                    <div class="pull-right action-buttons">
                                        <td>
                                            <p data-placement="top" data-toggle="tooltip"
                                               title="Delete">
                                                <button class="btn btn-danger btn-xs"
                                                <a data-id={{ row_data.template_stream_user }}
                                                   onclick="ConfirmLibraryDelete(this)"><i class="fas fa-trash-alt" height="20" width="20"></i></a>
                                        </td>
                                    </div>
                                </tr>
                                {% endfor %}
                                </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-8">
                            <div>
                                <fieldset>
                                    <legend>Active Users</legend>
                                </fieldset>
                                <div class="table-responsive table-bordered">
                                    <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>User</th>
                                    <th>Login Time</th>
                                    <th>Total Time</th>
                                    <th>Kick</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for row_data in template_server_users %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ row_data.username }}</td>
                                    <td>{{ row_data.username }}</td>
                                    <td>{{ row_data.username }}</td>
                                    <div class="pull-right action-buttons">
                                        <td>
                                            <p data-placement="top" data-toggle="tooltip"
                                               title="Delete">
                                                <button class="btn btn-danger btn-xs"
                                                <a data-id={{ row_data.id }}
                                                   onclick="ConfirmLibraryDelete(this)"><i class="fas fa-trash-alt" height="20" width="20"></i></a>
                                        </td>
                                    </div>
                                </tr>
                                {% endfor %}
                                </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-8">
                            <div>
                                <fieldset>
                                    <legend>Media Scanning</legend>
                                </fieldset>
                                <div class="table-responsive table-bordered">
                                    <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Directory</th>
                                    <th>Status</th>
                                    <th>Percentage</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for row_data in template_data_scan_info %}
                                <tr>
                                    <td>{{ row_data.template_scan_path }}</td>
                                    <td>{{ row_data.template_scan_status }}</td>
                                    <td>{{ row_data.template_scan_percentage }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "bss_public/bss_public_footer.html" %}
        </div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-easing.min.js"></script>
    <script src="/static/js/script.min.js"></script>
</body>
{% endblock %}
