<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MediaKraken - User Detail</title>
    <link rel="stylesheet" href="/static/css/base_webapp.css">
    <link rel="stylesheet" href="/static/fonts/fontawesome-all.min.css">

</head>

<body id="page-top">
    <div class="flex min-h-screen">
        {% include "bss_admin/bss_admin_include_menu.html" %}
        {% include "bss_public/bss_public_footer.html" %}
    </div>
    <script src="/static/js/jquery.tmpl.min.js"></script>
    <script src="/static/js/jquery.min.js" defer></script>
    <script src="/static/js/base_webapp_delete.js"></script>

</body>
</html>