<!DOCTYPE html>
<html lang="en">

{% include "bss_include_header.html" %}

<body id="page-top" class="bg-gray-100 dark:bg-zinc-950 text-zinc-900 dark:text-zinc-100 transition-colors duration-300">
    <div class="flex min-h-screen flex-col">
        {% include "bss_user/bss_user_include_menu.html" %}

        <div class="flex flex-1">
            {% include "bss_admin/bss_admin_include_menu.html" %}
        <iframe src="https://{{template_data_host}}:8900/admin/transmission/web/" title="MediaKraken Transmission"
            class="w-full h-screen border-0 bg-white dark:bg-zinc-900" style="min-height: 80vh;">
        </iframe>
        </div>
        {% include "bss_public/bss_public_footer.html" %}
    </div>
 </body>

</html>
