{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MediaKraken - Database</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/css/styles.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        {% include "bss_admin/bss_admin_include_menu.html" %}
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold"><strong>PostgreSQL Version:
                                    {{template_data_db_version}}</strong></p>
                            <p class="text-primary m-0 font-weight-bold"><strong>Parallel Workers:
                                    {{template_data_db_workers}}</strong></p>
                        </div>
                        <div class="card-body">
                            <fieldset>
                                <legend>Database Record Count</legend>
                            </fieldset>
                            <div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Table</th>
                                            <th>Record(s)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row_data in template_data_db_count %}
                                        <tr>
                                            <td>{{ row_data.table_name }}</td>
                                            {% if row_data.table_rows != -1.0 %}
                                            <td>{{ row_data.table_rows|number_format }}</td>
                                            {% else %}
                                            <td>0</td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                            <td><b>Total Rows:</b></td>
                                            <td>{{ template_data_db_count_total|number_format }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-body">
                            <fieldset>
                                <legend>Database Table Size<br></legend>
                            </fieldset>
                            <div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Table</th>
                                            <th>Size</th>
                                        </tr>
                                    </thead>
                                    {% let total_size = 0 %}
                                    <tbody>
                                        {% for row_data in template_data_db_size %}
                                        <tr>
                                            <td>{{ row_data.table_name }}</td>
                                            <td>{{ row_data.table_size|byte_format }}</td>
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                            <td><b>Total Size:</b></td>
                                            <td>{{ total_size }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "bss_public/bss_public_footer.html" %}
        </div>
    </div>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-easing.min.js"></script>
    <script src="/static/js/script.min.js"></script>
</body>
{% endblock %}