---
version: '3.6'
# Volumes are HOST directory and then CONTAINER directory

services:
  # runs the mumble chat server
  mkchatmumble:
    image: mediakraken/mkchatmumble:${BRANCH}
    environment:
      - SUPERUSER_PASSWORD=metaman
      # - TZ=America/Phoenix   - left unset will default to UTC
    container_name: mkstack_mumble
    stop_grace_period: 30s
    stop_signal: SIGUSR1
    ports:
      - "64738:64738/tcp"
      - "64738:64738/udp"
    volumes:
      # stores mumble server data
      - mediakraken_vol_mumble:/etc/mumble
    networks:
      - mediakraken_network
    restart: unless-stopped

  # runs the teamspeak3 chat server
  mkchatteamspeak:
    image: mediakraken/mkchatteamspeak:${BRANCH}
    environment:
      - TS3SERVER_LICENSE=accept
    container_name: mkstack_teamspeak
    stop_grace_period: 30s
    stop_signal: SIGUSR1
    ports:
      - "9987:9987/udp"
      - "10011:10011"
      - "30033:30033"
    volumes:
      # stores ts3 server data
      - mediakraken_vol_teamspeak:/var/ts3server/
    networks:
      - mediakraken_network
    restart: unless-stopped

  # runs cron
  mkcron:
    image: mediakraken/mkcron:${BRANCH}
    environment:
      - POSTGRES_PASSWORD=${DBPASS}
      - RUST_BACKTRACE=1
      - WAIT_HOSTS=mkstack_database:5432, mkstack_rabbitmq:5672
    command: sh -c "/wait && /mediakraken/mkcron"
    container_name: mkstack_cron
    stop_grace_period: 30s
    stop_signal: SIGUSR1
    networks:
      - mediakraken_network
    restart: unless-stopped

  # Postgresql server
  mkdatabase:
    image: mediakraken/mkdatabase:${BRANCH}
    environment:
      - MAX_CONNECTIONS=125
      - MAX_WAL_SENDERS=10
      - SHARED_BUFFERS=4096MB
      - WORK_MEM=256MB
      - MAX_WORKER_PROCESSES=4
      - MAX_PARALLEL_WORKERS_PER_GATHER=2
      - MAX_PARALLEL_WORKERS=4
      - POSTGRES_PASSWORD=${DBPASS}
    command: postgres -c logging_collector=on \
      -c log_directory='/var/log/postgresql' \
      -c log_filename='postgresql-%Y-%m-%d_%H%M%S.log' \
      -c log_statement='all' \
      -c log_duration=on \
      -c log_connections=off \
      -c log_disconnections=off
    container_name: mkstack_database
    stop_grace_period: 30s
    stop_signal: SIGTERM
    volumes:
      - mediakraken_vol_postgresql:/var/lib/postgresql/data
      - mediakraken_vol_postgresql_logging:/var/log/postgresql
    networks:
      - mediakraken_network
    restart: unless-stopped

  # guessit rest
  mkguessitrest:
    image: mediakraken/mkguessitrest:${BRANCH}
    container_name: mkstack_guessitrest
    stop_grace_period: 30s
    stop_signal: SIGUSR1
    networks:
      - mediakraken_network
    restart: unless-stopped

  # inotify
  mkinotify:
    image: mediakraken/mkinotify:${BRANCH}
    environment:
      - POSTGRES_PASSWORD=${DBPASS}
      - RUST_BACKTRACE=1
      - WAIT_HOSTS=mkstack_database:5432, mkstack_rabbitmq:5672
    command: sh -c "/wait && /mediakraken/mkinotify"
    container_name: mkstack_inotify
    stop_grace_period: 30s
    stop_signal: SIGUSR1
    networks:
      - mediakraken_network
    restart: unless-stopped

  # multicast discover server
  mkmulticast:
    image: mediakraken/mkmulticast:${BRANCH}
    command: sh -c "/mediakraken/mkmulticast"
    container_name: mkstack_multicast
    stop_grace_period: 30s
    stop_signal: SIGUSR1
    networks:
      - mediakraken_network
    restart: unless-stopped

  # runs the nginx proxy service
  mknginx:
    image: mediakraken/mknginx:${BRANCH}
    container_name: mkstack_nginx
    depends_on:
      - mkwebapp
    entrypoint: /usr/bin/wait-for-it-ash-busybox130.sh \
      -h mkstack_webapp -p 8080 -t 120 -- nginx
    stop_grace_period: 30s
    stop_signal: SIGTERM
    volumes:
      - mediakraken_vol_nginx:/var/log/mediakraken/nginx
      - mediakraken_vol_certs:/etc/nginx/certs:ro
      - mediakraken_vol_static:/mediakraken/static:ro
    ports:
      - "8900:8900"
    networks:
      - mediakraken_network
    restart: unless-stopped

  # database management tool
  mkpgadmin:
    image: dpage/pgadmin4:6.15
    stop_grace_period: 30s
    stop_signal: SIGTERM
    container_name: mkstack_pgadmin
    networks:
      - mediakraken_network
    ports:
      - "5050:5050"
    environment:
      PGADMIN_LISTEN_PORT: 5050
      PGADMIN_DEFAULT_EMAIL: spootdev@gmail.com
      PGADMIN_DEFAULT_PASSWORD: metaman
      PGADMIN_DISABLE_POSTFIX: 1
    volumes:
      - mediakraken_vol_pgadmin:/var/lib/pgadmin

  # pgbouncer - database connection pooler
  mkpgbouncer:
    image: mediakraken/mkpgbouncer:${BRANCH}
    environment:
      - DB_HOST=mkstack_database
      - DB_PASSWORD=${DBPASS}
      - POOL_MODE=session
      - MAX_CLIENT_CONN=1024
      - DEFAULT_POOL_SIZE=85
      - SERVER_RESET_QUERY=DISCARD ALL
    container_name: mkstack_pgbouncer
    depends_on:
      - mkdatabase
    entrypoint: ./wait-for-it-ash-busybox130.sh \
      -h mkstack_database -p 5432 -t 60 -- ./entrypoint.sh
    stop_grace_period: 30s
    stop_signal: SIGTERM
    networks:
      - mediakraken_network
    restart: unless-stopped

  # docker stats and management
  mkportainer:
    image: portainer/portainer-ce:2.16.1-alpine
    command: -H unix:///var/run/docker.sock
    container_name: mkstack_portainer
    ports:
      - "9000:9000"
      - "8000:8000"
    volumes:
      - mediakraken_vol_portainer_data:/data
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes
    networks:
      - mediakraken_network

  # rabbit AMQP service
  mkrabbitmq:
    image: mediakraken/mkrabbitmq:${BRANCH}
    container_name: mkstack_rabbitmq
    hostname: mkstack_rabbitmq
    environment:
      - RABBITMQ_IO_THREAD_POOL_SIZE=256
    stop_grace_period: 30s
    stop_signal: SIGTERM
    ports:
      # https management port
      - "15671:15671"
      # http management port
      - "15672:15672"
    volumes:
      - mediakraken_vol_rabbit:/var/lib/rabbitmq
    restart: unless-stopped
    networks:
      - mediakraken_network

  # hosts transmission server
  mktransmission:
    image: mediakraken/mktransmission:${BRANCH}
    environment:
      - USERNAME=metaman
      - PASSWORD=metaman
    container_name: mkstack_transmission
    ports:
      - "9091:9091"
      - "51413:51413/tcp"
      - "51413:51413/udp"
    volumes:
      - mediakraken_vol_transmission:/etc/transmission-daemon
      - mediakraken_vol_transmission_downloads:/transmission/downloads
      - mediakraken_vol_transmission_incomplete:/transmission/incomplete
    networks:
      - mediakraken_network
    restart: unless-stopped

  # Runs the web service for the main server application
  mkwebapp:
    image: mediakraken/mkwebapp:${BRANCH}
    environment:
      - POSTGRES_PASSWORD=${DBPASS}
      - SECURE=${SECURE}
      - CSRF_SECRET_KEY=${CSRF_SECRET_KEY}
      - RUST_BACKTRACE=1
      - WAIT_HOSTS=mkstack_database:5432, mkstack_rabbitmq:5672
    command: sh -c "/wait && /mediakraken/mkwebapp"
    container_name: mkstack_webapp
    stop_grace_period: 30s
    stop_signal: SIGUSR1
    volumes:
      # must not be read only as it stores cache here
      - mediakraken_vol_static:/mediakraken/static
      - mediakraken_vol_webkey:/mediakraken/key
      # needed to show docker/swarm info
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # web server will generate salt/key
      - mediakraken_vol_secure:/mediakraken/secure
    networks:
      - mediakraken_network
    restart: unless-stopped

# Docker private networks
networks:
  mediakraken_network:
    driver: bridge
    name: mk_mediakraken_network

volumes:
  mediakraken_vol_certs:
  mediakraken_vol_mumble:
  mediakraken_vol_nginx:
  mediakraken_vol_pgadmin:
  mediakraken_vol_portainer_data:
  mediakraken_vol_postgresql:
  mediakraken_vol_postgresql_logging:
  mediakraken_vol_rabbit:
  mediakraken_vol_secure:
  mediakraken_vol_static:
  mediakraken_vol_teamspeak:
  mediakraken_vol_transmission:
  mediakraken_vol_transmission_downloads:
  mediakraken_vol_transmission_incomplete:
  mediakraken_vol_webkey:
