<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MediaKraken</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/fonts/fontawesome-all.min.css">

</head>

<body>
    {% include "bss_user/bss_user_include_menu.html" %}
         {% include "bss_user/bss_user_include_side_menu.html" %}
   <div>
        <div>
            {% if template_data_exists %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            {#<p><b>Title:</b> {{ data_title }}</p>
                            <p><b>Runtime:</b> {{data_runtime}}</p>
                            <p><b>Rating:</b> </p>
                            <p><b>User Rating Avg:</b> {{data_user_rating}}</p>
                            <p><b>Release Date:</b> {{data_first_aired}}</p>
                            <p><b>Overview:</b> {{data_overview}}</p>
                            {% if data_genres_list %}
                            <p><b>Genres:</b> {{data_genres_list}}</p>
                            {% endif %}
                            {% if data_production %}
                            <p><b>Production Companies:</b> {{data_production}}</p>
                            {% endif %}
                            {% if data_review %}
                            <p><b>Reviews:</b></p>
                            {% endif %}#}
                        </tr>
                    </tbody>
                </table>
            </div>
            {% else %}
            <p id="general_text">No info found. ERROR! You should never see this message.</p>
            {% endif %}
        </div>
    </div>
    {% include "bss_public/bss_public_footer.html" %}
  <script src="/static/js/alpinejs_3.15.3.min.js" defer></script>
  <script src="/static/js/base_webapp.js" defer></script>
</body>
</html>