<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MediaKraken</title>
    <link rel="stylesheet" href="/static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/css/base_webapp_layout.css">
    <link rel="stylesheet" href="/static/css/base_webapp.css">
    <link rel="stylesheet" href="/static/contextmenu/jquery.contextMenu.min.css">
</head>

<body>
    {% include "bss_user/bss_user_include_menu.html" %}
    <div>
        <div>
            {% if template_data_exists %}
            {% if pagination_bar != "" %}
            {{ pagination_bar|safe }}
            {% endif %}
            <div id="the-movie-metadata-node">
                {% for row_data in template_data %}
                <div data-id={{row_data.template_metadata_guid}}>
                    <a href="/user/metadata/movie_detail/{{row_data.template_metadata_guid}}">
                        <div class="flex flex-col items-center gap-6 p-7 md:flex-row md:gap-8 rounded-2xl">
                            {% if row_data.template_metadata_poster == "/static/image/Movie-icon.png" %}
                                <div> <img class="size-48 shadow-xl rounded-md" alt="" src="/static/image/Movie-icon.png" loading="lazy" height="300" width="200" /> </div>
                            {% else %}
                                <div> <img class="size-48 shadow-xl rounded-md" alt="" src="/metadata{{row_data.template_metadata_poster|safe}}" loading="lazy" height="300" width="200" /> </div>
                            {% endif %}
                            <div class="flex items-center md:items-start"> 
                                <span class="text-2xl font-medium">{{row_data.template_metadata_name}}</span> 
                                <span class="font-medium text-sky-500">The Anti-Patterns</span> 
                                <span class="flex gap-2 font-medium text-gray-600 dark:text-gray-400">
                                    <span>No. 4</span>
                                    <span>·</span>
                                    <span>2025</span>
                                </span>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            {% if pagination_bar != "" %}
            {{ pagination_bar|safe }}
            {% endif %}
            {% else %}
            <p id="general_text">No movie metadata found.</p>
            {% endif %}
        </div>
    </div>
    {% include "bss_public/bss_public_footer.html" %}
    <script src="/static/js/jquery.min.js" defer></script>
    <script src="/static/contextmenu/jquery.contextMenu.min.js" defer></script>
    <script src="/static/js/base_webapp.js" defer></script>
    <script src="/static/js/alpine.js" defer></script>
</body>
</html>