<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MediaKraken</title>
    <link rel="stylesheet" href="/static/css/base_webapp.css">
    <link rel="stylesheet" href="/static/fonts/fontawesome-all.min.css">
</head>

<body>
    {% include "bss_user/bss_user_include_menu.html" %}
    <div>
        <div>
            {% if template_data_exists %}
            {% if pagination_bar != "" %}
            {{ pagination_bar|safe }}
            {% endif %}
            <div id="the-node">
                {% for row_data in template_data %}
                <div class="main_photo">
                    <div class="media_context_right" data-id={{row_data.mm_metadata_collection_guid}}>
                        <a href="/user/metadata/collection_detail/{{row_data.mm_metadata_collection_guid}}">
                            {#{% if row_data.mm_metadata_collection_imagelocal_json == "" ||
                            row_data.mm_metadata_collection_imagelocal_json == None %}
                            <img src="/static/image/Movie-icon.png" loading="lazy" height="300" width="200"></a>
                        <div class="description">
                            <p class="description_content_left">{{row_data.mm_metadata_collection_name}}</p>
                        </div>
                        {% else %}
                        <img src="/metadata/{{row_data.mm_metadata_collection_imagelocal_json}}" loading="lazy"
                            height="300" width="200">
                        </a>
                        {% endif %}#}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if pagination_bar != "" %}
            {{ pagination_bar|safe }}
            {% endif %}
            {% else %}
            <p id="general_text">No collection metadata found.</p>
            {% endif %}
        </div>
    </div>
    {% include "bss_public/bss_public_footer.html" %}
    <script src="/static/js/jquery.min.js" defer></script>

</body>
</html>