{% extends "layouts/base_user.html" %}

{% block content %}
{% if template_data_exists %}
            {% if pagination_bar != "" %}
            {{ pagination_bar|safe }}
            {% endif %}
            <div id="the-node">
                {% for row_data in template_data %}
                <div class="main_photo">
                    <div class="media_context_right" data-id={{row_data.mm_metadata_person_guid}}>
                        <a href="/user/metadata/person_detail/{{row_data.mm_metadata_person_guid}}">
                            <img src="/metadata/{{row_data.mm_metadata_person_image}}" loading="lazy" decoding="async"
                                height="300" width="200"></a>
                        <div class="description">
                            <p class="description_content_left">{{row_data.mm_metadata_person_name}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if pagination_bar != "" %}
            {{ pagination_bar|safe }}
            {% endif %}
            {% else %}
            <p id="general_text">No people metadata found.</p>
            {% endif %}
{% endblock %}
