{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MediaKraken</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/css/styles.min.css">
    <link rel="stylesheet" href="/static/css/base_webapp_layout.css" media="all" type="text/css" />
</head>

<body>
    {% include "bss_user/bss_user_include_menu.html" %}
    {% if template_data_exists %}
    {% if pagination_bar != "" %}
    {{ pagination_bar|safe }}
    {% endif %}
    <div id="the-node">
        {% for row_data in template_data %}
        <div class="main_photo">
            <div class="media_context_right" data-id={{row_data.mm_metadata_person_guid}}>
                <a href="/user/metadata/person_detail/{{row_data.mm_metadata_person_guid}}">
                    <img src="/static/{{row_data.mm_metadata_person_image}}" loading="lazy" height="300"
                        width="200"></a>
                <div class="description">
                    <p class="description_content_left">{{row_data.mm_metadata_person_name}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if pagination_bar != "" %}
    {{ pagination_bar|safe }}
    {% endif %}
    {% else %}
    <p id="general_text">No people metadata found.</p>
    {% endif %}
    {% include "bss_public/bss_public_footer.html" %}
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-easing.min.js"></script>
    <script src="/static/js/script.min.js"></script>
</body>
{% endblock %}