<!DOCTYPE html>
<html lang="en">
{% include "bss_include_header.html" %}

<body>
    {% include "bss_user/bss_user_include_menu.html" %}
        {% include "bss_user/bss_user_include_side_menu.html" %}
    <div>
        <div class="row">
            <div class="col"><img style="width: 600px;height: 600px;"></div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p><b>Overview:</b> {{template_data["mm_metadata_json"]["overview"]}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <ul>
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                            <li>Item 4</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "bss_public/bss_public_footer.html" %}
  
</body>
</html>