{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MediaKraken</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/css/styles.min.css">
</head>

<body>
    {% include "bss_user/bss_user_include_menu.html" %}
    <div>
        <div>
            {% if template_data_exists %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            {#<p><b>Title:</b> {{ data_title }}</p>
                            <p><b>Runtime:</b> {{data_runtime}}</p>
                            <p><b>Rating:</b> </p>
                            <p><b>User Rating Avg:</b> {{data_user_rating}}</p>
                            <p><b>Release Date:</b> {{data_first_aired}}</p>
                            <p><b>Overview:</b> {{data_overview}}</p>
                            {% if data_genres_list %}
                            <p><b>Genres:</b> {{data_genres_list}}</p>
                            {% endif %}
                            {% if data_production %}
                            <p><b>Production Companies:</b> {{data_production}}</p>
                            {% endif %}
                            {% if data_review %}
                            <p><b>Reviews:</b></p>
                            {% endif %}#}
                        </tr>
                    </tbody>
                </table>
            </div>
            {% else %}
            <p id="general_text">No info found. ERROR! You should never see this message.</p>
            {% endif %}
        </div>
    </div>
    {% include "bss_public/bss_public_footer.html" %}
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-easing.min.js"></script>
    <script src="/static/js/script.min.js"></script>
</body>
{% endblock %}