{% extends "layouts/base_user.html" %}

{% block content %}
<div>
                {% include "filters/pagination_letters.html" %}
                {% if template_data_exists %}
                {% if pagination_bar != "" %}
                {{ pagination_bar|safe }}
                {% endif %}
                <div id="the-node">
                    {% for row_data in template_data %}
                    <div class="main_photo">
                        <div class="media_context_right" data-id={{row_data.gs_game_system_id}}>
                            <a href="/user/metadata/game_system_detail/{{row_data.gs_game_system_id}}">
                                {#{% if row_data[2] == "" || row_data[2] == None %}
                                <img src="/static/image/vid_game.png" loading="lazy" decoding="async" height="200"
                                    width="300"></a>
                            <div class="description">
                                <p class="description_content_left">{{row_data.gs_game_system_name}}</p>
                            </div>
                            {% else %}
                            <img src="/metadata/{{row_data[2]}}" loading="lazy" decoding="async" height="200"
                                width="300">
                            </a>
                            {% endif %}#}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if pagination_bar != "" %}
                {{ pagination_bar|safe }}
                {% endif %}
                {% else %}
                <p id="general_text">No game system metadata found.</p>
                {% endif %}
            </div>
{% endblock %}
