[package]
name = "mktestpython"
version = "0.0.1"
edition = "2021"

[profile.release]
panic = 'abort'
strip = "symbols"
lto = true
codegen-units = 1

[dependencies]
inline-python = "0.10.0"

[dev-dependencies]
tokio-test = "*"
