[package]
name = "theater_thin"
version = "0.0.1"
edition = "2021"

[profile.release]
panic = 'abort'
strip = "symbols"
lto = true
codegen-units = 1

[dependencies]
argh = "0.1.7"
crossbeam-channel = "0.5.4"
fltk = { version = "1.3.1", features = ["fltk-bundled"] }
tokio = { version = "1.18.2", features = ["full"] }
tokio-rustls = "0.23.2"

[dev-dependencies]
tokio-test = "*"