[package]
name = "theater_thin"
version = "0.0.1"
edition = "2021"

[profile.release]
panic = 'abort'

[dependencies]
argh = "0.1.5"
crossbeam-channel = "0.5.1"
fltk = { version = "1.1.6", features = ["fltk-bundled"] }
tokio = { version = "1.15.0", features = ["full"] }
tokio-rustls = "0.23.2"

[dev-dependencies]
tokio-test = "*"