[package]
name = "theater_thin"
version = "0.0.1"
edition = "2018"

[profile.release]
panic = 'abort'

[dependencies]
fltk = { version = "1.1.6", features = ["fltk-bundled"] }

[dev-dependencies]
tokio-test = "*"