<nav>
  <div class="flex flex-col items-center w-40 h-full overflow-hidden text-gray-700 bg-gray-100 rounded">
    <div class="w-full px-2">
      <div class="flex flex-col items-center w-full mt-3 border-t border-gray-300">
        <a class="flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-300" href="/user/media/new">
          <i class="fas fa-fire w-6 h-6 text-current"></i>
          <span class="ml-2 text-sm font-medium">New</span>
        </a>
        <a class="flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-300" href="/user/media/queue">
          <i class="fas fa-clapperboard w-6 h-6 text-current"></i>
          <span class="ml-2 text-sm font-medium">Queue</span>
        </a>
        <a class="flex items-center w-full h-12 px-3 mt-2 bg-gray-300 rounded" href="/user/media/movie_genre/all">
          <i class="fas fa-toolbox w-6 h-6 text-current"></i>
          <span class="ml-2 text-sm font-medium">Genre</span>
        </a>
        <a class="flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-300" href="/user/media/movie_genre/all">
          <i class="fas fa-film w-6 h-6 text-current"></i>
          <span class="ml-2 text-sm font-medium">Movie</span>
        </a>
        <a class="flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-300" href="/user/media/tv/1">
          <i class="fas fa-tv w-6 h-6 text-current"></i>
          <span class="ml-2 text-sm font-medium">TV Shows</span>
        </a>
        <a class="flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-300" href="/user/media/music/1">
          <i class="fas fa-headphones w-6 h-6 text-current"></i>
          <span class="ml-2 text-sm font-medium">Music</span>
        </a>
        <a class="flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-300"
          href="/user/media/live_tv/20170716/213500">
          <i class="fas fa-gamepad w-6 h-6 text-current"></i>
          <span class="ml-2 text-sm font-medium">Live TV</span>
        </a>
        <a class="flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-300" href="/user/media/sports/1">
          <i class="fas fa-futbol w-6 h-6 text-current"></i>
          <span class="ml-2 text-sm font-medium">Sports</span>
        </a>
        <a class="relative flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-300" href="/user/media/images">
          <i class="fas fa-image w-6 h-6 text-current"></i>
          <span class="ml-2 text-sm font-medium">Image Gallery</span>
        </a>
        <a class="relative flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-300" href="/user/media/game/1">
          <i class="fas fa-gamepad w-6 h-6 text-current"></i>
          <span class="ml-2 text-sm font-medium">Games</span>
        </a> <a class="relative flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-300"
          href="/user/media/book/1">
          <i class="fas fa-book w-6 h-6 text-current"></i>
          <span class="ml-2 text-sm font-medium">Books</span>
        </a> <a class="relative flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-300"
          href="/user/media/iradio">
          <i class="fas fa-radio w-6 h-6 text-current"></i>
          <span class="ml-2 text-sm font-medium">Internet Radio</span>
        </a> <a class="relative flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-300"
          href="/user/media/home_video/1">
          <i class="fas fa-video w-6 h-6 text-current"></i>
          <span class="ml-2 text-sm font-medium">Home Video</span>
        </a> <a class="relative flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-300"
          href="/user/media/3d">
          <i class="fas fa-cube w-6 h-6 text-current"></i>
          <span class="ml-2 text-sm font-medium">3D</span>
        </a> <a class="relative flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-300"
          href="/user/internet">
          <i class="fas fa-globe   w-6 h-6 text-current"></i>
          <span class="ml-2 text-sm font-medium">Internet</span>
        </a> <a class="relative flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-300"
          href="/user/media/music_video/1">
          <i class="fas fa-barcode w-6 h-6 text-current"></i>
          <span class="ml-2 text-sm font-medium">Music Video</span>
        </a>
        <a class="relative flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-300" href="/user/media/cctv">
          <i class="fas fa-user-alt w-6 h-6 text-current"></i>
          <span class="ml-2 text-sm font-medium">CCTV</span>
        </a>
        <a class="relative flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-300" href="/user/hardware">
          <i class="fas fa-user-alt w-6 h-6 text-current"></i>
          <span class="ml-2 text-sm font-medium">Hardware</span>
        </a>
        <a class="relative flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-300" href="/user/media/upc">
          <i class="fas fa-user-alt w-6 h-6 text-current"></i>
          <span class="ml-2 text-sm font-medium">UPC</span>
        </a>
        <a class="relative flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-300" href="/user/media/search">
          <i class="fas fa-search w-6 h-6 text-current"></i>
          <span class="ml-2 text-sm font-medium">Search</span>
        </a>
      </div>
    </div>
  </div>
</nav>