[package]
name = "mkhardwarescanner"
version = "0.0.1"
edition = "2021"

[profile.release]
panic = 'abort'
strip = "symbols"

[dependencies]
chrono = { version = "0.4.19", features = ["serde"] }
huelib = "0.13.2"  # https://github.com/nn1ks/huelib-rs
mdns = "3.0.0"
# onvif = { git = "https://github.com/lumeohq/onvif-rs" }   # has request with default
reqwest = { version = "0.11.10", default-features = false, features = ["json", "rustls-tls"] }
serde = { version = "1.0.136", features = ["derive"] }
serde_json = "1.0.79"
sonor = "1.1.0"
sys-info = "0.9.1"
tokio = { version = "1.17.0", features = ["full"] }

[dev-dependencies]
tokio-test = "*"