[package]
name = "mkhardwarescanner"
version = "0.0.1"
edition = "2021"

[profile.dev]
panic = 'unwind'
strip = "none"
lto = false
codegen-units = 16

[profile.release]
panic = 'abort'
strip = "symbols"
lto = true
codegen-units = 1

[dependencies]
mk_lib_database = { version = "0.0.4", registry = "kellnr" }
mk_lib_hardware = { version = "0.0.1", registry = "kellnr" }
mk_lib_network = { version = "0.0.1", registry = "kellnr" }
mk_lib_rabbitmq = { version = "0.0.1", registry = "kellnr" }

chrono = { version = "0.4.33", features = ["serde"] }
crab-dlna = "0.2.1"
futures-util = "0.3.30"
huelib = "0.13.2" # https://github.com/nn1ks/huelib-rs
mdns = "3.0.0"
reqwest = { version = "0.11.24", default-features = false, features = [
    "json",
    "rustls-tls",
] }
serde = { version = "1.0.196", features = ["derive"] }
serde_json = "1.0.113"
sonor = "2.0.0"
stdext = "0.3.1"
sys-info = "0.9.1"
tokio = { version = "1.36.0", features = ["full"] }

[dev-dependencies]
tokio-test = "*"
