[package]
name = "mkhardwarescanner"
version = "0.0.1"
edition = "2018"

[profile.release]
panic = 'abort'

[dependencies]
chrono = "0.4.19"
huelib = "0.13.1"  # https://github.com/nn1ks/huelib-rs
# onvif = { git = "https://github.com/lumeohq/onvif-rs" }   # has request with default
reqwest = { version = "0.11.6", default-features = false, features = ["json", "rustls-tls"] }
serde = { version = "1.0.130", features = ["derive"] }
serde_json = "1.0.68"
sonor = "1.1.0"
sys-info = "0.9.1"
tokio = { version = "1.13.0", features = ["full"] }

[dev-dependencies]
tokio-test = "*"