[package]
name = "mkhardwarescanner"
version = "0.0.1"
edition = "2021"

[profile.release]
panic = 'abort'
strip = "symbols"
lto = true
codegen-units = 1

[dependencies]
chrono = { version = "0.4.23", features = ["serde"] }
crab-dlna = "0.1.0"
futures-util = "0.3.21"
huelib = "0.13.2"  # https://github.com/nn1ks/huelib-rs
mdns = "3.0.0"
onvif = { git = "https://github.com/lumeohq/onvif-rs" }   # has request with default
reqwest = { version = "0.11.13", default-features = false, features = ["json", "rustls-tls"] }
serde = { version = "1.0.152", features = ["derive"] }
serde_json = "1.0.91"
sonor = "1.1.0"
stdext = "0.3.1"
sys-info = "0.9.1"
tokio = { version = "1.24.1", features = ["full"] }

[dev-dependencies]
tokio-test = "*"