[package]
name = "mkhardwarescanner"
version = "0.0.1"
edition = "2018"

[profile.release]
panic = 'abort'

[dependencies]
chrono = "0.4"
onvif = { git = "https://github.com/lumeohq/onvif-rs" }
reqwest = { version = "0.11.3", default-features = false, features = ["json", "rustls-tls"] }
serde = { version = "1.0.126", features = ["derive"] }
serde_json = "1.0.64"
sonor = "1.0.0"
sys-info = "0.4.0"
tokio = { version = "1.6.0", features = ["full"] }

[dev-dependencies]
tokio-test = "*"