[package]
name = "mkcron"
version = "0.0.1"
edition = "2021"

[profile.release]
panic = 'abort'
strip = "symbols"
lto = true
codegen-units = 1

[dependencies]
amiquip = { version = "0.4.2", default-features = false }
chrono = { version = "0.4.19", features = ["serde"] }
reqwest = { version = "0.11.13", default-features = false, features = ["json", "rustls-tls"] }
rustls = "0.20.6"
serde = { version = "1.0.137", features = ["derive"] }
serde_json = "1.0.81"
sqlx = { version = "0.5.13", features = [ "chrono", "json", "postgres", "runtime-tokio-rustls", "uuid" ] }
sys-info = "0.9.1"
tokio = { version = "1.18.2", features = ["full"] }
uuid = { version = "0.8.2", features = ["serde", "v4"] }

rocket_dyn_templates = { git = "https://github.com/SergioBenitez/Rocket/", features = ["tera"]}

[dev-dependencies]
tokio-test = "*"