[package]
name = "mkcron"
version = "0.0.1"
edition = "2021"

[profile.release]
panic = 'abort'
strip = "symbols"
lto = true
codegen-units = 1

[dependencies]
mk_lib_database = { path = "../../../src/mk_lib_database" }
mk_lib_rabbitmq = { path = "../../../src/mk_lib_rabbitmq" }

chrono = { version = "0.4.33", features = ["serde"] }
serde_json = "1.0.113"
tokio = { version = "1.36.0", features = ["full"] }

[dev-dependencies]
tokio-test = "*"
