[package]
name = "mk_lib_rabbitmq"
version = "0.0.1"
edition = "2021"

[profile.release]
panic = 'abort'
strip = "symbols"
lto = true
codegen-units = 1

[dependencies]
amqprs = "1.4.0"
sys-info = "0.9.1"
tokio = "1.28.2"

[dev-dependencies]
tokio-test = "*"
