[package]
name = "mk_lib_logging"
version = "0.0.1"
edition = "2021"

[profile.release]
panic = 'abort'

[dependencies]
chrono = "0.4.19"
reqwest = { version = "0.11.8", default-features = false, features = ["json", "rustls-tls"] }
serde_json = "1.0.79"

[dev-dependencies]
tokio-test = "*"