{% extends "layouts/base_user.html" %}

{% block content %}
<div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="list-group">
                        <li class="list-group-item"><span>List Group Item 1</span></li>
                        <li class="list-group-item"><span>List Group Item 2</span></li>
                        <li class="list-group-item"><span>List Group Item 3</span></li>
                    </ul>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col"><a href="#"><img src="/static/image/lightbulb_on.png" width="200"
                                    height="200"></a><a href="#">
                                <img src="/static/image/lightbulb_off.png" width="200" height="200"></a><input
                                type="color">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
