<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MediaKraken - Hardware</title>
    <link rel="stylesheet" href="/static/css/base_webapp.css">
    <link rel="stylesheet" href="/static/fonts/fontawesome-all.min.css">

</head>

<body>
    {% include "bss_user/bss_user_include_menu.html" %}
    <div>
        {% if template_data_phue_exists %}
        <a href="/user/hardware/phue" id="user_hardware_page">
            <img src="/static/image/light-bulb.png" width="200" height="200">
        </a>
        {% endif %}
    </div>
    {% include "bss_public/bss_public_footer.html" %}
    <script src="/static/js/jquery.min.js" defer></script>

</body>
</html>