flake8==3.9.2
pytest==6.2.4
pytest-xdist==2.2.1
pytest-selenium==2.0.1
selenium==3.141.0
coverage==5.5
pytest-cov==2.12.1
tox==3.23.1
pyflakes==2.3.1
pytest-timeout==1.4.2
pytest-profiling==1.7.0
pylint==2.8.3
safety==1.10.3
pyre-check==0.9.3
apache-libcloud==3.3.1
appdirs==1.4.4
appnope==0.1.2
arduino-python==0.2
argcomplete==1.12.3
babel==2.9.1
babelfish==0.5.5
#backports.shutil-get-terminal-size==1.0.0
bs4==0.0.1
certifi==2021.5.30
chardet==4.0.0
colorama==0.4.4
#crochet
cryptography==3.4.7
#cssselect
cython==0.29.23
decorator==5.0.9
distro==1.5.0
docker==5.0.0
dosage==2.17
#dvdread
#eiscp
#elasticsearch
#enum34==1.1.6
#gevent
#google-api-python-client==1.6.2
guessit==3.3.1
#gudev
#httplib2.ca_certs_locater
#httplib2==0.10.3
#idna==2.6
#imdbpie
#incremental>=16.10.1
#ipython-genutils==0.2.0
#ipython==5.3.0
#isbnlib
#isbntools
#iso-639==0.4.5
#iso3166==0.8
#isoparser
kivy==2.0.0
#ldap3
#lxml
musicbrainzngs==0.7.1
mutagen==1.45.1
natsort==7.1.1
#nest
#netifaces
#oauth2client==4.0.0
#omdb
#onkyo-eiscp
#onvif_zeep
#packaging==16.8
#paramiko
passwordmeter==0.1.8
#pathlib2==2.2.1
#pbr
#pdfkit
#pexpect==4.2.1
#pickleshare==0.7.4
#pigpio
pika==1.2.0
pillow==8.2.0
pingo==0.2.0
pitchfork==0.1.5
#prompt-toolkit==1.0.14
psycopg2==2.8.6
#ptyprocess==0.5.1
#pyasn1-modules==0.0.8
#pyasn1==0.2.3
#pyatv
pycountry==20.7.3
#pycryptodome==3.6.1
pyexcel==0.6.6
pygal==2.4.0
#Pygments==2.2.0
#pyinsane2
#pylgtv
#pyopenssl
#pyparsing==2.2.0
pysmb==1.2.7
#PySocks==1.6.8
#python-nest
#python-stdnum
#python-twitch-client
#pytvdbapi
#PyVimeo
#requests
#RPi.GPIO
#rsa==3.4.2
#rxv
scandir==1.10.0
#service_identity
setuptools==57.0.0
#simplegeneric==0.8.1
#simplekv>=0.11.2
#six
soco==0.22.3
#soundcloud
#speedtest-cli
streamlink==2.1.2
subliminal==2.1.0
#synolopy
#tmdbsimple
#tmdbv3api
#traitlets==4.3.2
transmissionrpc==0.11
tripplite==0.3.0
twisted==21.2.0
#uritemplate==3.0.0
#urllib3==1.22
uwsgi==2.0.19.1
#wcwidth==0.1.7
#websocket-client==0.47.0
xmltodict==0.12.0
youtube_dl==2021.5.16