[package]
name = "example"
version = "0.0.1"
authors = ["Andrew Wheeler <genusistimelord@gmail.com>"]
edition = "2021"

[profile.release]
panic = 'abort'
strip = "symbols"
lto = true
codegen-units = 1

[dependencies]
axum = {version = "0.6.12"}
axum_session = { version = "0.1.5", features = [ "postgres-rustls", "sqlite-rustls"] }
axum_session_auth = { version = "0.1.1", features = [ "postgres-rustls", "sqlite-rustls" ] }
tokio = { version = "1.21.2", features = ["full", "tracing"] }
async-trait = "0.1.58"
sqlx = { version = "0.6.3", features = [
    "macros",
    "offline",
    "migrate",
    "mssql",
    "postgres",
    "sqlite",
    "all-types",
    "runtime-tokio-rustls",
] }
anyhow = "1.0.66"
serde = "1.0.147"
