---
version: '3.8'
# Volumes are HOST directory and then CONTAINER directory

services:
  webapp:
    image: mediakraken/mkexample:dev
    ports:
      - "3000:3000"    
    command: sh -c "/mediakraken/mkexample"
    stop_grace_period: 30s
    stop_signal: SIGUSR1
    networks:
      - mediakraken_network
    deploy:
      mode: replicated
      replicas: 1

# Docker private networks
networks:
  mediakraken_network:
    driver: overlay
