[package]
name = "mk_lib_compression"
version = "0.0.1"
edition = "2021"

[profile.release]
panic = 'abort'
strip = "symbols"
lto = true
codegen-units = 1

[dependencies]
flate2 = "1.0.28"
serde_json = "1.0.111"
tar = "0.4.40"
zip = "0.6.6"

[dev-dependencies]
tokio-test = "*"
