<!DOCTYPE html>
<html lang="en">
{% include "bss_include_header.html" %}

<body>
    {% include "bss_user/bss_user_include_menu.html" %}
        {% include "partials/sidebar_user.html" %}
    <div>
        {% if template_data_exists %}
        <div>
            {#{% for row_data in template_data %}
            {% if row_data[2] == None %}
            <a href="/user/internet/vimeo_detail/{{row_data[1]}}"> {{row_data[0]}}</a>
            {% else %}
            <a href="/user/internet/vimeo_detail/{{row_data[1]}}">
                <img src="/static/meta/images/{{row_data[2]}}" height="300" width="200">
            </a>
            {% endif %}
            {% endfor %}#}
        </div>
        {% else %}
        <p id="general_text">No Vimeo media found.</p>
        {% endif %}
    </div>
    {% include "bss_public/bss_public_footer.html" %}
 </body>
</html>