<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MediaKraken - Vimeo</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/fonts/fontawesome-all.min.css">

</head>

<body>
    {% include "bss_user/bss_user_include_menu.html" %}
    <div>
        {% if template_data_exists %}
        <div>
            {#{% for row_data in template_data %}
            {% if row_data[2] == None %}
            <a href="/user/internet/vimeo_detail/{{row_data[1]}}"> {{row_data[0]}}</a>
            {% else %}
            <a href="/user/internet/vimeo_detail/{{row_data[1]}}">
                <img src="/static/meta/images/{{row_data[2]}}" height="300" width="200">
            </a>
            {% endif %}
            {% endfor %}#}
        </div>
        {% else %}
        <p id="general_text">No Vimeo media found.</p>
        {% endif %}
    </div>
    {% include "bss_public/bss_public_footer.html" %}

</body>
</html>