<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>MediaKraken - Twitch</title>
  <link rel="stylesheet" href="/static/css/base_webapp.css">
  <link rel="stylesheet" href="/static/fonts/fontawesome-all.min.css">
  <link rel="stylesheet" href="/static/css/styles.min.css">
</head>

<body>
  {% include "bss_user/bss_user_include_menu.html" %}
  <div>
    <div id="twitch-embed"></div>
    <!-- Load the Twitch embed script -->
    <script src="https://embed.twitch.tv/embed/v1.js"></script>
    <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
    <script type="text/javascript">
      new Twitch.Embed("twitch-embed", {
        width: 1280,
        height: 720,
        channel: "{{twitchtv_channel}}"
      });
    </script>
  </div>
  {% include "bss_public/bss_public_footer.html" %}
  <script src="/static/js/jquery.min.js" defer></script>
  <script src="/static/js/jquery-easing.min.js"></script>
  <script src="/static/js/script.min.js" defer></script>
</body>
</html>