<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MediaKraken - Internet</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/fonts/fontawesome-all.min.css">

</head>

<body>
    {% include "bss_user/bss_user_include_menu.html" %}
    <div>
        <a href="/user/internet/youtube"><img src="/static/image/internet/youtube-logo.png" width="200" height="200"
                loading="lazy" decoding="async"></a>
        <a href="/user/internet/vimeo"><img src="/static/image/internet/vimeo_icon_white_on_blue_rounded.png"
                width="200" height="200" loading="lazy" decoding="async"></a>
        <a href="/user/internet/flickr"><img src="/static/image/internet/flickr.png" width="200" height="200"
                loading="lazy" decoding="async"></a>
        <a href="/user/internet/twitchtv"><img src="/static/image/internet/twitch.png" width="200" height="200"
                loading="lazy" decoding="async"></a>
    </div>
    {% include "bss_public/bss_public_footer.html" %}
 
</body>
</html>