{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MediaKraken - Youtube</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/css/styles.min.css">
</head>

<body>
    {% include "bss_user/bss_user_include_menu.html" %}
    <div>
        <form id="SearchForm" class="form form-youtube" method="POST" action="/user/internet/bss_user_internet_youtube"
            role="form">
            <div class="form-group">
                < input label="Search string" , type="text" , name="search_string">
            </div>
        </form>
        <video id="vid1" src="" class="video-js vjs-default-skin" controls preload="auto" width="100%" height="100%"
            data-setup="{" fluid":"true","techOrder":["youtube"]}">
            <source src="http://www.youtube.com/watch?v=" {{template_youtube_video_guid}} type="video/youtube">
        </video>
    </div>
    {% include "bss_public/bss_public_footer.html" %}
    <script src="/static/videojs/video.min.js"></script>
    <script src="/static/videojs/Youtube.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-easing.min.js"></script>
    <script src="/static/js/script.min.js"></script>
</body>
{% endblock %}