{% extends "layouts/base_user.html" %}

{% block content %}
<div>
        <a href="/user/internet/youtube"><img src="/static/image/internet/youtube-logo.png" width="200" height="200"
                loading="lazy" decoding="async"></a>
        <a href="/user/internet/vimeo"><img src="/static/image/internet/vimeo_icon_white_on_blue_rounded.png"
                width="200" height="200" loading="lazy" decoding="async"></a>
        <a href="/user/internet/flickr"><img src="/static/image/internet/flickr.png" width="200" height="200"
                loading="lazy" decoding="async"></a>
        <a href="/user/internet/twitchtv"><img src="/static/image/internet/twitch.png" width="200" height="200"
                loading="lazy" decoding="async"></a>
    </div>
{% endblock %}
