<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MediaKraken - Youtube</title>
    <link rel="stylesheet" href="/static/css/base_webapp.css">
    <link rel="stylesheet" href="/static/fonts/fontawesome-all.min.css">

</head>

<body>
    {% include "bss_user/bss_user_include_menu.html" %}
    <div>
        <form id="SearchForm" class="form form-youtube" method="POST" action="/user/internet/bss_user_internet_youtube"
            role="form">
            <div class="form-group">
                < input label="Search string" , type="text" , name="search_string">
            </div>
        </form>
        <video id="vid1" src="" class="video-js vjs-default-skin" controls preload="auto" width="100%" height="100%"
            data-setup="{" fluid":"true","techOrder":["youtube"]}">
            <source src="http://www.youtube.com/watch?v=" {{template_youtube_video_guid}} type="video/youtube">
        </video>
    </div>
    {% include "bss_public/bss_public_footer.html" %}
    <script src="/static/videojs/video.min.js"></script>
    <script src="/static/videojs/Youtube.min.js"></script>
    <script src="/static/js/jquery.min.js" defer></script>

</body>
</html>