[package]
name = "mktesttransmission"
version = "0.0.1"
edition = "2021"

[profile.release]
panic = 'abort'
strip = "symbols"
lto = true
codegen-units = 1

[dependencies]
mk_lib_network = { path = "../../src/mk_lib_network" }
tokio = { version = "1.35.1", features = ["full"] }
tokio-test = "*"
