---
version: '3.6'
# Volumes are HOST directory and then CONTAINER directory

services:
  # runs cron
  cron:
    image: mediakraken/mkcron:${BRANCH}
    secrets:
      - db_password
    environment:
      - WAIT_HOSTS=database:5432, rabbit:5672
    command: sh -c "/wait && /mediakraken/mkcon"
    stop_grace_period: 30s
    stop_signal: SIGUSR1
    deploy:
      mode: replicated
      replicas: 1
    networks:
      - mediakraken_network_backend

  # Postgresql server
  database:
    image: mediakraken/mkdatabase:${BRANCH}
    environment:
      - MAX_CONNECTIONS=125
      - MAX_WAL_SENDERS=10
      - SHARED_BUFFERS=4096MB
      - WORK_MEM=256MB
      - MAX_WORKER_PROCESSES=4
      - MAX_PARALLEL_WORKERS_PER_GATHER=2
      - MAX_PARALLEL_WORKERS=4
      - POSTGRES_PASSWORD_FILE=/run/secrets/db_password
    secrets:
      - db_password
    stop_grace_period: 30s
    stop_signal: SIGTERM
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints: [ node.role == manager ]
    volumes:
      - mediakraken_vol_postgresql:/var/lib/postgresql/data
      - mediakraken_vol_postgresql_backup:/mediakraken/backup
      - mediakraken_vol_postgresql_logging:/var/log/postgresql
    networks:
      - mediakraken_network_backend

  # Runs the download services
  download:
    image: mediakraken/mkdownload:${BRANCH}
    secrets:
      - db_password
    environment:
      - WAIT_HOSTS=database:5432, rabbit:5672
    command: sh -c "/wait && /mediakraken/mkdownload"
    stop_grace_period: 30s
    stop_signal: SIGUSR1
    volumes:
      - mediakraken_vol_static:/mediakraken/static
    deploy:
      mode: replicated
      replicas: 1
    networks:
      - mediakraken_network_backend

  filebeat:
    image: mediakraken/mkfilebeat:${BRANCH}
    environment:
      - ELASTICSEARCH_HOSTS=mkelk:9200
      - KIBANA_HOSTS=mkelk:5601
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - mediakraken_vol_postgresql_logging:/var/log/postgresql:ro
      - mediakraken_vol_nginx:/var/log/mediakraken/nginx:ro
    deploy:
      mode: global

  # runs hardware
  hardware:
    image: mediakraken/mkhardware:${BRANCH}
    volumes:
      # TODO why not store this in the db with the device as postgresql crypt
      # this stores the "push button" key
      - mediakraken_vol_phue:/mediakraken/phue
    environment:
      - WAIT_HOSTS=database:5432, rabbit:5672
    command: sh -c "/wait && /mediakraken/mkhardware"
    stop_grace_period: 30s
    stop_signal: SIGUSR1
    networks:
      - mediakraken_network_backend
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints: [ node.role == manager ]

  # inotify
  inotify:
    image: mediakraken/mkinotify:${BRANCH}
    environment:
      - WAIT_HOSTS=rabbit:5672
    command: sh -c "/wait && /mediakraken/myinotify"
    stop_grace_period: 30s
    stop_signal: SIGUSR1
    networks:
      - mediakraken_network_backend
    deploy:
      mode: replicated
      replicas: 1

  # runs the server to fetch/process all metadata
  metadata:
    image: mediakraken/mkmetadata:${BRANCH}
    secrets:
      - db_password
    entrypoint: ./wait-for-it-ash-busybox130.sh \
      -h mkstack_database -p 5432 -t 120 -- python3 main_server_metadata_api.py
    stop_grace_period: 30s
    stop_signal: SIGUSR1
    volumes:
      - ./mkmount:/mediakraken/mnt
      # stores posters/etc so webserver can present
      - mediakraken_vol_static:/mediakraken/mkwebapp/static
      # stores the xml/json xref files for anime match
      - mediakraken_vol_cache:/mediakraken/cache
    networks:
      - mediakraken_network_backend
    deploy:
      mode: replicated
      replicas: 1

  # multicast discover server
  mkmulticast:
    image: mediakraken/mkmulticast:${BRANCH}
    command: sh -c "/mediakraken/mkmulticast"
    stop_grace_period: 30s
    stop_signal: SIGUSR1
    networks:
      - mediakraken_network_frontend

  # runs the mumble chat server
  mumble:
    image: mediakraken/mkchatmumble:${BRANCH}
    environment:
      - SUPERUSER_PASSWORD=metaman
      # - TZ=America/Phoenix   - left unset will default to UTC
    stop_grace_period: 30s
    stop_signal: SIGUSR1
    ports:
      - "64738:64738/tcp"
      - "64738:64738/udp"
    volumes:
      # stores mumble server data
      - mediakraken_vol_mumble:/etc/mumble
    networks:
      - mediakraken_network_backend
    deploy:
      mode: replicated
      replicas: 0

  # runs the nginx proxy service
  nginx:
    image: mediakraken/mknginx:${BRANCH}
    entrypoint: /usr/bin/wait-for-it-ash-busybox130.sh \
      -h mkstack_webapp -p 8080 -t 120 -- nginx
    stop_grace_period: 30s
    stop_signal: SIGTERM
    volumes:
      - mediakraken_vol_nginx:/var/log/mediakraken/nginx
      - mediakraken_vol_certs:/etc/nginx/certs:ro
      - mediakraken_vol_static:/mediakraken/web_app_sanic/static:ro
    ports:
      - "8900:8900"
    networks:
      - mediakraken_network_backend
    deploy:
      mode: replicated
      replicas: 1

  pgadmin:
    image: dpage/pgadmin4:6.15
    stop_grace_period: 30s
    stop_signal: SIGTERM
    networks:
      - mediakraken_network_backend
      - mediakraken_network_frontend
    ports:
      - "5050:5050"
    environment:
      PGADMIN_LISTEN_PORT: 5050
      PGADMIN_DEFAULT_EMAIL: spootdev@gmail.com
      PGADMIN_DEFAULT_PASSWORD: metaman
      PGADMIN_DISABLE_POSTFIX: 1
    volumes:
      - mediakraken_vol_pgadmin:/var/lib/pgadmin
    deploy:
      mode: replicated
      replicas: 1

  # pgbouncer
  pgbouncer:
    image: mediakraken/mkpgbouncer:${BRANCH}
    environment:
      - DB_HOST=mkstack_database
      - POOL_MODE=transaction
      #- POOL_MODE=session  # this might not work in docker swarm
      - MAX_CLIENT_CONN=1024
      - DEFAULT_POOL_SIZE=85
      - SERVER_RESET_QUERY=DISCARD ALL
    secrets:
      - db_password
    entrypoint: ./wait-for-it-ash-busybox130.sh \
      -h mkstack_database -p 5432 -t 120 -- ./entrypoint.sh
    stop_grace_period: 30s
    stop_signal: SIGTERM
    networks:
      - mediakraken_network_backend
    deploy:
      mode: replicated
      replicas: 1

  # pika
  pika:
    image: mediakraken/mkpika:${BRANCH}
    secrets:
      - db_password
    entrypoint: python3 subprogram_pika.py
    stop_grace_period: 30s
    stop_signal: SIGUSR1
    volumes:
      # for start of SSL server
      - mediakraken_vol_certs:/mediakraken/key:ro
      - mediakraken_vol_postgresql_backup:/mediakraken/backup
      - ./mkmount:/mediakraken/mnt
      # so it can start docker containers
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - mediakraken_network_backend
    deploy:
      mode: replicated
      replicas: 1

  portainer:
    image: portainer/portainer-ce:2.16.1-alpine
    command: -H tcp://tasks.portaineragent:9001 --tlsskipverify
    ports:
      - "9000:9000"
      - "8000:8000"
    volumes:
      - mediakraken_vol_portainer_data:/data
    networks:
      - portaineragent_agent_network
      - mediakraken_network_frontend
    deploy:
      mode: replicated
      replicas: 1

  portaineragent:
    image: portainer/agent:linux-amd64-2.16.1-alpine
    environment:
      AGENT_CLUSTER_ADDR: tasks.portaineragent
      # AGENT_PORT: 9001
      # LOG_LEVEL: debug
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes
    networks:
      - portaineragent_agent_network
    deploy:
      mode: global
      placement:
        constraints: [ node.platform.os == linux ]

  # rabbit
  rabbitmq:
    image: mediakraken/mkrabbitmq:${BRANCH}
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
      - RABBITMQ_IO_THREAD_POOL_SIZE=256
    stop_grace_period: 30s
    stop_signal: SIGTERM
    ports:
      # https management port
      # - "15671:15671"
      # http management port
      - "15672:15672"
    volumes:
      - mediakraken_vol_rabbit:/var/lib/rabbitmq
    networks:
      - mediakraken_network_backend
      - mediakraken_network_frontend
    deploy:
      mode: replicated
      replicas: 1

  # Main reactor
  reactor:
    image: mediakraken/mkreactor:${BRANCH}
    secrets:
      - db_password
      - secure_key
      - csrf_key
    entrypoint: ./wait-for-it-ash-busybox130.sh \
      -h mkstack_pgbouncer -p 6432 -t 120 -- python3 main_reactor_line.py
    stop_grace_period: 30s
    stop_signal: SIGUSR1
    ports:
      - "8903:8903"
    volumes:
      # server will generate ssl key for use by web/nginx
      - mediakraken_vol_certs:/mediakraken/key
      # do I need this?  is pika what does the backup?
      - mediakraken_vol_postgresql_backup:/mediakraken/backup
      - ./mkmount:/mediakraken/mnt
      # so it can start docker containers
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # so can read the device scan output
      - mediakraken_vol_devices:/mediakraken/devices
      # server will generate salt/key
      - /var/opt/mediakraken/secure:/mediakraken/secure
    networks:
      - mediakraken_network_backend
    deploy:
      mode: replicated
      replicas: 1

  teamspeak:
    image: mediakraken/mkchatteamspeak:${BRANCH}
    ports:
      - "9987:9987/udp"
      - "10011:10011"
      - "30033:30033"
    volumes:
      - mediakraken_vol_teamspeak:/var/ts3server/
    deploy:
      mode: replicated
      replicas: 0

  # runs transcode
  transcode:
    image: mediakraken/mktranscode:${BRANCH}
    secrets:
      - db_password
    entrypoint: ./wait-for-it-ash-busybox130.sh \
      -h mkstack_pgbouncer -p 6432 -t 120 -- python3 async_transcode.py
    stop_grace_period: 30s
    stop_signal: SIGUSR1
    volumes:
      - ./mkmount:/mediakraken/mnt:ro
    networks:
      - mediakraken_network_backend
    deploy:
      mode: replicated
      replicas: 0

  transmission:
    image: mediakraken/mktransmission:${BRANCH}
    environment:
      - USERNAME=metaman
      - PASSWORD=metaman
    ports:
      - "9091:9091"
      - "51413:51413/tcp"
      - "51413:51413/udp"
    volumes:
      - mediakraken_vol_transmission:/etc/transmission-daemon
      - mediakraken_vol_transmission_downloads:/transmission/downloads
      - mediakraken_vol_transmission_incomplete:/transmission/incomplete
    deploy:
      mode: replicated
      replicas: 0

  # Runs the web service for the main server application
  webapp:
    image: mediakraken/mkwebapp:${BRANCH}
    secrets:
      - db_password
      - secure_key
      - csrf_key
    entrypoint: ./wait-for-it-ash-busybox130.sh \
      -h pgbouncer -p 6432 -t 60 -- gunicorn web_app_sanic.app:app \
      -b :8080 -w 1 -k uvicorn.workers.UvicornWorker
    stop_grace_period: 30s
    stop_signal: SIGUSR1
    volumes:
      - ./mkmount:/mediakraken/mnt
      # must not be read only as it stores cache here
      - mediakraken_vol_static:/mediakraken/static
      - mediakraken_vol_webkey:/mediakraken/key
      - ./data/uploads:/mediakraken/uploads
      # needed to show docker/swarm info
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # hold log files
      - ./data/log:/mediakraken/log
      # this stores the "push button" key
      - mediakraken_vol_phue:/mediakraken/phue
      # server will generate salt/key
      - /var/opt/mediakraken/secure:/mediakraken/secure:ro
      # db backups
      - mediakraken_vol_postgresql_backup:/mediakraken/backup
    networks:
      - mediakraken_network_backend
      - mediakraken_network_frontend
    deploy:
      mode: replicated
      replicas: 1

# Docker private networks
networks:
  # don't bother naming as swarm names as stackname_*
  portaineragent_agent_network:
    driver: overlay
  mediakraken_network_backend:
    driver: overlay
  mediakraken_network_frontend:
    driver: overlay
    external: true

volumes:
  mediakraken_vol_cache:
  mediakraken_vol_certs:
  mediakraken_vol_devices:
  mediakraken_vol_mbrainz_conf:
  mediakraken_vol_mbrainz_data:
  mediakraken_vol_mumble:
  mediakraken_vol_nginx:
  mediakraken_vol_pgadmin:
  mediakraken_vol_phue:
  mediakraken_vol_portainer_data:
  mediakraken_vol_postgresql:
  mediakraken_vol_postgresql_backup:
  mediakraken_vol_postgresql_logging:
  mediakraken_vol_rabbit:
  mediakraken_vol_static:
  mediakraken_vol_teamspeak:
  mediakraken_vol_transmission:
  mediakraken_vol_transmission_downloads:
  mediakraken_vol_transmission_incomplete:
  mediakraken_vol_webkey:


secrets:
  secure_key:
    external: true
  db_password:
    external: true
  csrf_key:
    external: true
