[package]
name = "mk_lib_network"
version = "0.0.1"
edition = "2021"

[profile.release]
panic = 'abort'

[dependencies]
reqwest = { version = "0.11.8", default-features = false, features = ["json", "rustls-tls"] }

[dev-dependencies]
tokio-test = "*"