[package]
name = "mk_lib_image"
version = "0.0.1"
edition = "2021"

[profile.release]
panic = 'abort'
strip = "symbols"
lto = true
codegen-units = 1

[dependencies]
image = "0.24.7"
serde_json = "1.0.111"

[dev-dependencies]
tokio-test = "*"
