[package]
name = "theater_full"
version = "0.0.1"
edition = "2021"

[profile.release]
panic = 'abort'
strip = "symbols"
lto = true
codegen-units = 1

[dependencies]
fltk = { version = "1.3.1", features = ["fltk-bundled"] }

[dev-dependencies]
tokio-test = "*"