[package]
name = "mktestxmlgenerator"
version = "0.0.1"
edition = "2021"

[profile.release]
panic = 'abort'
strip = "symbols"
lto = true
codegen-units = 1

[dependencies]
rand = "0.8.5"

[dev-dependencies]
tokio-test = "*"
