[package]
name = "mkinotify"
version = "0.0.1"
edition = "2021"

[profile.dev]
panic = 'unwind'
strip = "none"
lto = false
codegen-units = 16

[profile.release]
panic = 'abort'
strip = "symbols"
lto = true
codegen-units = 1

[dependencies]
mk_lib_database = { version = "0.0.1", registry = "kellnr" }
mk_lib_rabbitmq = { version = "0.0.1", registry = "kellnr" }

chrono = { version = "0.4.33", features = ["serde"] }
inotify = "0.10.2"
reqwest = { version = "0.11.24", default-features = false, features = [
    "json",
    "rustls-tls",
] }
rustls = "0.22.2"
serde = { version = "1.0.196", features = ["derive"] }
serde_json = "1.0.113"
tokio = { version = "1.36.0", features = ["full"] }

[dev-dependencies]
tokio-test = "*"
