[package]
name = "mktranscode"
version = "0.0.1"
edition = "2021"

[profile.dev]
panic = 'unwind'
strip = "none"
lto = false
codegen-units = 16

[profile.release]
panic = 'abort'
strip = "symbols"
lto = true
codegen-units = 1

[dependencies]
mk_lib_common = { version = "0.0.1", registry = "kellnr" }
mk_lib_compression  = { version = "0.0.1", registry = "kellnr" }
mk_lib_database  = { version = "0.0.1", registry = "kellnr" }
mk_lib_file  = { version = "0.0.1", registry = "kellnr", features = ["smb"] }
mk_lib_rabbitmq  = { version = "0.0.1", registry = "kellnr" }

chrono = { version = "0.4.34", features = ["serde"] }
reqwest = { version = "0.11.24", default-features = false, features = [
    "json",
    "rustls-tls",
] }
serde = { version = "1.0.197", features = ["derive"] }
serde_json = "1.0.114"
stdext = "0.3.2"
sys-info = "0.9.1"
tokio = { version = "1.36.0", features = ["full"] }
uuid = { version = "1.7.0", features = ["serde", "v4"] }

[dev-dependencies]
tokio-test = "*"
