[package]
name = "mktranscode"
version = "0.0.1"
edition = "2018"

[profile.release]
panic = 'abort'

[dependencies]
serde = { version = "1.0.126", features = ["derive"] }
serde_json = "1.0.64"
sys-info = "0.4.0"
tokio = { version = "1.6.0", features = ["full"] }

[dev-dependencies]
tokio-test = "*"