[package]
name = "mktranscode"
version = "0.0.1"
edition = "2021"

[profile.release]
panic = 'abort'
strip = "symbols"

[dependencies]
amiquip = { version = "0.4.2", default-features = false }
chrono = "0.4.19"
reqwest = { version = "0.11.9", default-features = false, features = ["json", "rustls-tls"] }
serde = { version = "1.0.136", features = ["derive"] }
serde_json = "1.0.79"
sys-info = "0.9.1"
tokio = { version = "1.17.0", features = ["full"] }

[dev-dependencies]
tokio-test = "*"